<div>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Bootstrap</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">

      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a routerLinkActive="active" routerLink="login">Login</a> &nbsp;
        </li>

        <li class="nav-item">
          <a routerLinkActive="active" routerLink="list">List</a> &nbsp;
        </li>

        <li class="nav-item">
          <a routerLinkActive="active" routerLink="create">Create</a>
        </li>

      <!-- <a routerLinkActive="active" routerLink="login">Login</a> &nbsp;
      <a routerLinkActive="active" routerLink="list">List</a> &nbsp;
      <a routerLinkActive="active" routerLink="create">Create</a> -->
  </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
</div>